* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f9f9f9; */
    background-image: url(darzi.png);
}

.container {
    display: flex;
    text-align: center;
    background-color: #f9f9f9a4;
    width: 90vw;
    height: 95vh;
    padding: 30px;
    border-radius: 10px;
}

.logo {
    align-items: flex-start;
    position: relative;
    top: 8vh;
    left: 3vw;
}

.logoimg {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    /* margin-top: 25vh; */
}

.logo h1 {
    color: #6b6b6b;
    font-size: 2em;
}

.logo p {
    margin-top: 0.5vh;
    font-size: 0.8em;
    color: #555;
}

.cta {
    margin: 20px 0;
}

.cta p {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #6b6b6b;
    width: 35vw;
    line-height: 5vh;
    position: relative;
    top: 13vh;
    left: 30vw;
}

.cta label {
    display: block;
    /* margin-bottom: 20px; */
    color: #000000;
    /* border: 1px solid rgba(64, 138, 138, 0.411); */
    border-radius: 8px;
    background-color: #c7dff757;
    padding: 0.7em;
    width: 36vw;
    position: relative;
    top: 20vh;
    left: 5vw;
}

.get-started {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 3vh 3vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    position: relative;
    top: 28vh;
    left: 5vw;
}

.image-section {
    position: relative;
    top: 60vh;
    right: 23vw;
}

.image-section p {
    color: #777;
}

.pagination {
    margin-top: 10px;
}

.pagination span {
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #4A90E2;
    border-radius: 5px;
    cursor: pointer;
    color: #4A90E2;
}

.icon {
    width: 1.5vw;
    height: 3vh;
    position: relative;
    top: 0.3vh;
}